<!DOCTYPE html>
<html>
<head>
    <title>About</title>
	<style>
		body {
				background-color: #cceff0;
                font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
			}
	</style>
    {% include "navbar.html" %}
    <title>About</title>
</head>
<body>

	<main>

		<h1>Welcome to the Fediverse!</h1>

		<h2>What is the Fediverse?</h2>
		<h3>The Fediverse is a portmanteau of ‘federation’ and ‘universe’. The Fediverse comprises many different decentralized technologies. These include microblogging services such as Mastodon and Friendica, image hosting services e.g., PixelFed, video sharing platforms e.g., PeerTube and Funkwhale, etc.
In such networks, there are different servers, often referred to as instances, that any user can set up themselves through open-source software. The users that set up the instances are then considered the administrators of that instance and other users can register on this instance. Once users have registered a specific instance, this does not mean that they are confined by the content of that instance, on the contrary, users can interact across instances with ease. This represents a social networking service where users can connect and interact with each other from different instances.
In this case, users would choose an instance they trust to host their data and they should be able to refer to that data from different instances. In such a network each user is assigned their own identity which is made up of the instance the user has chosen and their user name i.e. instance@user.</h3>
        
        <h2>What is Mastodon?</h2>
        <h3>Mastodon is one such platform created with the ActivityPub protocol that currently boasts around 3.9 million users and 3.8 thousand instances. The ActivityPub protocol implements one layer with client-to-server communication and another layer with server-to-server communication, which is what allows users to interact with each other across instances.  
            Mastodon is a microblogging platform, similar to Twitter, but instead of tweets, the statuses users post are called “toots” and instead of retweeting, users “boost” the toots of other users. With Mastodon, administrators can create their own independent instances and these instances then function much like Twitter; users can register and post toots for all their followers to see. If the administrator has specific users in mind or if they wish to keep their instance isolated, they can set up the registration so that users can only register if first approved by them, otherwise they can set up open registration, allowing anyone to join.</h3>
	
        <h2>The purpose of this tool</h2>
        <h3>To provide users with a better and easier onboarding experience to the Mastodon world, I have attempted to create a tool that includes all the advantageous aspects of other available tools, and additionally includes information such as the up-time of an instance, if this instance is banned by any other instances, the lifetime of the instance, amount of defederation etc.</h3>
            
        </main>

</body>
</html>