<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<style>
		body {
				background-color: #cceff0;
                font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
			}
	</style>
	{% include "navbar.html" %}
</head>
<body>

	<main>

		<h1>Welcome!</h1>
		<h2>This is a website built to help users with picking a Mastodon instance.</h2>
		<h3>Mastodon is a microblogging platform which currently boasts around 3.9 million users and 3.8 thousand instances. 
			Its decentralized nature allows Mastodon instances to communicate with all other instances in the platform. 
			The first step of joining this platform is picking an instance. 
			This website was created with the idea in mind to aid users in pickcing the most suitable instance for them. 
			In the <a href="/dash_table">Instances</a> tab, a table of all instances and some characterisitics about them can be found. 
			In the <a href="/dash_plot">Statistics</a> tab there are some interesting about the platform as a whole. Enjoy! :D </h3>
		<br/>

	</main>

</body>
</html>